extends layout

block content
  div(class="container")
    div(class="row")
        div(style={width:"30%", margin:"25px auto"})
            h1(style={"text-align":"center", "margin-bottom": "25px"}) Bienvenido
            a(class="btn btn-lg btn-primary btn-block" href="/autenticacion") Acceder
            p(style={"margin-top": "25px"}) (*) Para hacer una consulta ingrese con su usuario de Multigame
              
  