
extends layout

block content
  div(class="row text-center" style={display:"flex", "flex-wrap":"wrap"})
    div(class="col-md-3 col-sm-6")
      div(class="thumbnail" style={margin:"20px 20px"})
        div(class="form-group")
          a(href="/quiniela/instancias" class="btn btn-primary btn-block") Exportar sorteos por rango	
        div(class="form-group")
          a(href="/quiniela/sorteos" class="btn btn-primary btn-block") Exportar ganadores por sorteo 				
        div(class="caption")
          h4 Quiniela
                